 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

@mixin follow {
  float: left;
  text-align: center;
  h2 {
    color: HSLA(210, 53%, 51%, 1);
    margin-bottom: 0;
    margin-top: 15px;
    font-size: 30px;
  }
  p {
    margin-top: 3px;
    margin-bottom: 15px;
    font-size: 13px;
  }
}

// Custom Styles

* {
  list-style: none;
  text-decoration: none;
}

a {
  color: black;
}

.full {
  width: 1280px;
}

// Header ================================
.header {
  width: 100%;
  height: 50px;
  background-color: HSLA(0, 0%, 96%, 1);
  border-bottom: solid 1px HSLA(0, 0%, 90%, 1);
}

//Header Left =============================

.header-left {
  float: left;
  .cat {
    float: left;
    display: block;
    margin-left: 150px;
    margin-top: 9px;
  }
  .search {
    float: left;
    display: inline-block;
    margin: auto;
    margin: 13px 10px;
    .textbox {
      width: 360px;
    }
  }
}

.head-middle {
  padding: 0;
  display: inline-block;
  float: left;
  font-size: 13px;
  font-weight: bold;
}
  li {
    display: inline-block;
    float: left;
    padding: 0px 10px;
  }

// Header Right ============================

.header-right {
  .me-head {
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 140px;
    border-radius: 3px;
  }
  .user {
    float: left;
    margin-left: 5px;
    font-size: 13px;
    font-weight: bold;
  }
  .icons {
    float: left;
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
    padding-right: 150px;
  }
  .icons span {
    padding: 0px 6px;
  }
}

// Middle Section ==========================

.middle {
  @include outer-container;
  margin: 20px 150px 0px;
}

// Middle Left=============================

.middle-left {
  @include span-columns(3.3);
  width: 230px;
  margin-right: 20px;

}

.user-box {
  border-bottom: solid 1px HSLA(0, 0%, 93%, 1);
  .user-img {
    width: 230px;
    height: 230px;
    border-radius: 5px;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 26px;
  }
  p {
    display: inline-block;
    font-size: 22px;
    margin-top: 0;
  }
}


.user-info {
  border-bottom: solid 1px HSLA(0, 0%, 93%, 1);
  margin-top: 15px;
  margin-bottom: 0;
  padding-bottom: 5px;
  span {
    font-size: 15px;
    margin-bottom: 10px;
  }
}

.follow {
  float: left;
  display: inline-block;
  border-bottom: solid 1px HSLA(0, 0%, 93%, 1);
  margin-bottom: 25px;
}

.follow1 {
  @include follow;
  padding-left: 7px;
}

.follow2 {
  @include follow;
  padding-left: 30px;
}

.follow3 {
  @include follow;
  padding-left: 30px;
  padding-right: 7px;
}

.org {
  margin-top: 20px;
}

.js-hacker {
    width: 50px;
}

// Middle Right ============================

.middle-right {
  @include span-columns(7.7);
  margin-top: 20px;
}

.profile {
  float: right;
  background-color: HSLA(0, 0%, 95%, 1);
  border-radius: 2px;
  border: solid 1px HSLA(0, 0%, 84%, 1);
}

.title-links {
  padding-bottom: 10px;
  border-bottom: solid 1px HSLA(0, 0%, 84%, 1);
}

.search-area {
  border-bottom: solid 1px HSLA(0, 0%, 84%, 1);
  padding-bottom: 30px;
  form {
    float: left;
    margin-top: 16px;
  }
}

.search-list {
  float: left;
}

// Repo area ==============================

.repo {
  width: 730px;
  height: 115px;
  border-bottom: solid 1px HSLA(0, 0%, 84%, 1);
}

// Footer ================================

.footer {
  width: 980px;
  height: 100px;
  margin: 0px 120px;
  border-top: solid 1px HSLA(0, 0%, 84%, 1);
}

.foot-left {
  display: inline-block;
  padding: 0;
  width: 700px;
  font-size: 12px;
  margin: 43px 0px;
  li {
    color: HSLA(210, 53%, 51%, 1);
    padding-left: 15px;
    padding-right: 0px;
  }
  .copyright {
    padding-left: 0;
    color: HSLA(0, 0%, 47%, 1);
  }
  span {
    padding-left: 175px;
    color: HSLA(0, 0%, 80%, 1);
  }
}

.foot-right {
  float: right;
  display: inline-block;
  padding: 0;
  width: 256px;
  font-size: 12px;
  color: HSLA(210, 53%, 51%, 1);
  margin: 43px 0px;
  li {
    color: HSLA(210, 53%, 51%, 1);
    padding-left: 15px;
    padding-right: 0px;
  }
  .status {
    padding-left: 0;
  }
}
