 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

@mixin follow {
  float: left;
  text-align: center;
  h2 {
    @include blue;
    margin-bottom: 0;
    margin-top: 15px;
    font-size: 30px;
  }
  p {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 12px;
    color: HSLA(0, 0%, 60%, 1);
    &:hover {
      @include blue;
    }
  }
}

@mixin btn {
  background-color: HSLA(0, 0%, 95%, 1);
  border-radius: 3px;
  border: solid 1px HSLA(0, 0%, 84%, 1);
  font-size: 13px;
  font-weight: bold;
}

@mixin blue {
  color: HSLA(210, 53%, 51%, 1);
}

@mixin title-links {
  float: left;
  display: inline-block;
  span {
    padding: 10px 10px;
  }
}

@mixin popup {
  display: none;
  width: 85px;
  height: 25px;
  background-color: HSLA(0, 0%, 19%, 1);
  border-radius: 3px;
  position: absolute;
  margin-left: -64px;
  margin-top: 30px;
  span {
    color: black;
    position: absolute;
    margin-top: -10px;
    margin-left: 25px;
  }
  p {
    margin: 0;
    font-size: 12px;
    padding: 5px 5px;
    color: white;
  }
}

// Custom Styles

* {
  list-style: none;
  text-decoration: none;
}

a {
  color: black;
}

.full {
  width: 1280px;
}

// Header ================================
.header {
  width: 100%;
  height: 50px;
  background-color: HSLA(0, 0%, 96%, 1);
  border-bottom: solid 1px HSLA(0, 0%, 90%, 1);
}

//Header Left =============================

.header-left {
  float: left;
  .cat {
    float: left;
    display: block;
    margin-left: 148px;
    margin-top: 10px;
    span {
      font-size: 28px;
    }
    span:hover {
      @include blue;
    }
  }
  .search {
    float: left;
    display: inline-block;
    margin: auto;
    margin: 10px;
    .textbox {
      width: 360px;
      height: 28px;
      border-radius: 3px;
      font-size: 12px;
      border: 1px solid #cccccc;
    }
  }
}

.head-middle {
  margin-top: 17px;
  padding: 0;
  display: inline-block;
  float: left;
  font-size: 13px;
  font-weight: bold;
}
  li {
    display: inline-block;
    float: left;
    padding: 0px 8px;
    &:hover {
      @include blue;
    }
  }

// Header Right ============================

.me-head {
  float: left;
  width: 20px;
  height: 20px;
  margin-top: 14px;
  margin-left: 150px;
  border-radius: 3px;
}
.user {
  float: left;
  margin-left: 5px;
  margin-top: 16px;
  font-size: 13px;
  font-weight: bold;
  &:hover {
    @include blue;
  }
}

.icons {
  float: left;
  display: inline-block;
  margin-top: 15px;
  margin-left: 11px;
}
.icons span {
  padding: 0px 8px;
  &:hover {
    @include blue;
  }
}

.triangle span {
  padding: 0;
}

.circle {
  border-radius: 50%;
  border: solid 1px HSLA(0, 0%, 96%, 1);
  width: 12px;
  height: 12px;
  background-color: HSLA(210, 53%, 58%, 1);
  position: absolute;
  margin-left: -85px;
  margin-top: 10px;
}

.popup1 {
  @include popup;
}

.popup2 {
  @include popup;
  width: 170px;
  margin-left: -100px;
  span {
    margin-left: 70px;
  }
}

.popup3 {
  @include popup;
  width: 60px;
  margin-left: -48px;
  span {
    margin-left: 15px;
  }
  p {
    padding: 5px 8px;
  }
}

.popup4 {
  @include popup;
  width: 60px;
  margin-top: 12px;
  margin-left: 91px;
  span {
    margin-left: 19px;
  }
  p {
    padding: 5px 7px;
  }
}

a:hover .popup1 {
  display: inline;
}

a:hover .popup2 {
  display: inline;
}

a:hover .popup3 {
  display: inline;
}

a:hover .popup4 {
  display: inline;
}

// Middle Section ==========================

.middle {
  @include outer-container;
  max-width: 61.25em;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

// Middle Left=============================

.middle-left {
  @include span-columns(3.3);
  width: 230px;
  margin-right: 20px;

}

.user-box {
  border-bottom: solid 1px HSLA(0, 0%, 93%, 1);
  height: 305px;
  .user-img {
    width: 230px;
    height: 230px;
    border-radius: 5px;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 26px;
  }
  p {
    display: inline-block;
    font-size: 20px;
    margin-top: 0;
    color: HSLA(0, 0%, 40%, 1);
    font-weight: 100;
  }
}

.user-popup {
  display: inline;
  @include popup;
  width: 123px;
  margin-left: 50px;
  margin-top: 2px;
  color: HSLA(0, 0%, 19%, .9);
  span {
    color: black;
    margin-left: 55px;
  }
  p {
    padding: 5px 8px;
  }
}

a:hover .user-popup {
  display: inline;
}

.user-email {
  @include blue;
  &:hover {
    text-decoration: underline;
  }
}

.user-info {
  border-bottom: solid 1px HSLA(0, 0%, 93%, 1);
  margin-top: 13px;
  margin-bottom: 0;
  padding-bottom: 8px;
  .span1 {
    padding-left: 2px;
  }
  span {
    color: HSLA(0, 0%, 80%, 1);
    padding-bottom: 0;
  }
  p {
    display: inline-block;
    font-size: 14px;
    margin: 5px 5px;
  }
}

.user-email {
  @include blue;
}

.follow {
  float: left;
  display: inline-block;
  border-bottom: solid 1px HSLA(0, 0%, 93%, 1);
  margin-bottom: 24px;
  margin-top: -5px;
  height: 80px;
}

.follow1 {
  @include follow;
  padding-left: 12px;
}

.follow2 {
  @include follow;
  padding-left: 30px;
}

.follow3 {
  @include follow;
  padding-left: 30px;
  padding-right: 7px;
}

.js-hacker {
    width: 40px;
    margin-top: -5px;
}

// Middle Right ============================

.middle-right {
  @include span-columns(7.7);
  width: 730px;
}

.profile {
  @include btn;
  float: right;
  height: 26px;
  width: 107px;
  &:hover {
    background-color: HSLA(0, 0%, 90%, 1);
  }
}

.title-area {
  border-bottom: solid 1px HSLA(0, 0%, 84%, 1);
  height: 38px;
}

.title-links1 {
  @include title-links;
  a {
    color: HSLA(0, 0%, 40%, 1);
  }
}

.title-links2 {
  @include title-links;
  border: solid 1px HSLA(0, 0%, 84%, 1);
  border-bottom: solid 1px white;
  border-radius: 3px;
}

.title-links3 {
  @include title-links;
  a {
    color: HSLA(0, 0%, 40%, 1);
  }
}

.search-area {
  border-bottom: solid 1px HSLA(0, 0%, 84%, 1);
  padding-bottom: 5px;
  form {
    float: left;
    margin-top: 13px;
    font-size: 13px;
  }
}

.search-repo {
  width: 260px;
  height: 36px;
  border-radius: 3px;
  border: 1px solid #cccccc;
}

.search-btn {
  @include btn;
  height: 36px;
  width: 70px;
  margin-left: 5px;
  border-radius: 3px;
  &:hover {
    background-color: HSLA(0, 0%, 90%, 1);
  }
}

.search-list {
  float: left;
  padding-left: 29px;
  font-size: 14px;
  margin: 17px 0px;
  li {
    padding: 5px;
    @include blue;
  }
}

.search-list li:hover {
  text-decoration: underline;
}

.new {
  margin: 13px 0px 4px 8px;
  width: 70px;
  height: 35px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  background-color: HSLA(105, 59%, 63%, 1);
  border: solid 1px HSLA(104, 44%, 46%, 1);
  border-radius: 3px;
  box-shadow: 0px -5px 20px 0px HSLA(104, 44%, 46%, 1) inset;
  &:hover {
    background-color: HSLA(104, 44%, 46%, 1);
  }
}

// Repo area ==============================

.repo {
  width: 730px;
  height: 111px;
  border-bottom: solid 1px HSLA(0, 0%, 84%, 1);
}

.repo-left {
  float: left;
  width: 575px;
  display: inline-block;
  padding-top: 10px;
  h3 {
    margin-bottom: 15px;
    @include blue;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    width: 575px;
    margin-top: 0;
    font-size: 13px;
    color: HSLA(0, 0%, 53%, 1);
  }
}

.repo-right {
  display: inline-block;
  float: right;
  width: 126px;
  padding-top: 23px;
  p {
    display: inline-block;
    font-size: 12px;
    color: HSLA(0, 0%, 54%, 1);
    font-weight: bold;
  }
  span {
    float: right;
    font-size: 13px;
    color: HSLA(0, 0%, 54%, 1);
    padding: 13px 3px 0px 10px;
    &:hover {
      @include blue;
    }
  }
}

.small-star span::before {
  padding-right: 2px;
}

.forks span::before {
  padding-right: 3px;
}

// Footer ================================

.footer {
  width: 980px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border-top: solid 1px HSLA(0, 0%, 84%, 1);
}

.foot-left {
  display: inline-block;
  padding: 0;
  width: 700px;
  font-size: 12px;
  margin: 43px 0px;
  li {
    @include blue;
    padding-left: 15px;
    padding-right: 0px;
    &:hover {
      text-decoration: underline;
    }
  }
  .copyright {
    padding-left: 0;
    color: HSLA(0, 0%, 47%, 1);
  }
  span {
    padding-left: 175px;
    margin-top: -4px;
    color: HSLA(0, 0%, 80%, 1);
    font-size: 25px;
    &:hover {
      color: HSLA(0, 0%, 70%, 1);
    }
  }
}

.foot-right {
  float: right;
  display: inline-block;
  padding: 0;
  width: 256px;
  font-size: 12px;
  @include blue;
  margin: 43px 0px;
  li {
    @include blue;
    padding-left: 15px;
    padding-right: 0px;
    &:hover {
      text-decoration: underline;
    }
  }
  .status {
    padding-left: 0;
  }
}
