<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>github project</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" href="../bower_components/octicons/octicons/octicons.css">
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

<!--HTML=================================-->

  </head>
  <body>
    <div class="full">

      <div class="header">
        <div class="header-left">
          <div class="cat">
            <a href="#"><span class="mega-octicon octicon-mark-github"></span></a>
          </div> <!--cat-->
          <div class="search">
            <form><input type="text" class="textbox" placeholder=" Search GitHub"></form>
          </div> <!--search-->
          <ul class="head-middle">
            <a href="#"><li>Explore</li></a>
            <a href="#"><li>Gist</li></a>
            <a href="#"><li>Blog</li></a>
            <a href="#"><li>Help</li></a>
          </ul>
        </div> <!--header-left-->

        <div class="header-right">
          <div class="av-me">
            <!-- <a href="#"><img class="me-head" src="/images/me.jpg"></img> -->
            <!-- <p class="user">chwsimps</p></a> -->
          </div>
          <div class="icons">
            <a href="#"><span class="triangle"><span class="octicon octicon-plus"></span><span class="octicon octicon-triangle-down"></span></span>
              <div class="popup1">
                <span class="octicon octicon-triangle-up"></span>
                <p>Create new...</p>
              </div></a>
            <a href="#"><span class="octicon octicon-inbox"></span>
              <div class="popup2">
                <span class="octicon octicon-triangle-up"></span>
                <p>You have unread notifications</p>
              </div></a>
            <a href="#"><span class="octicon octicon-gear"></span>
            <div class="popup3">
              <span class="octicon octicon-triangle-up"></span>
              <p>Settings</p>
            </div></a>
            <a href="#"><span class="octicon octicon-sign-out"></span>
            <div class="popup4">
              <span class="octicon octicon-triangle-up"></span>
              <p>Sign out</p>
            </div></a>
          </div>
          <span class="circle"></span>
        </div>  <!--header-right-->
      </div> <!--header-->

      <div class="middle">
        <div class="middle-left">
          <div class="user-box">
            <!-- <a href="#"><img class="user-img" src="/images/me.jpg"></img></a>
            <h1>Chase Simpson</h1>
            <p>chwsimps</p> -->
          </div> <!--user-box-->
          <!-- <div class="user-popup">
            <span class="octicon octicon-triangle-up"></span>
            <p>Change your avatar</p>
          </div></a> -->
          <div class="user-info">
            <!-- <span class="octicon octicon-location"> Atlanta, GA</span>
            <span class="octicon octicon-mail"> chase.w.simpson1@gmail.com<a href="#"></a></span>
            <span class="octicon octicon-clock"> Joined on Sep 22, 2014</span> -->
          </div> <!--user-info-->
          <div class="follow">
            <div class="follow1">
              <!-- <h2>0</h2>
              <p>Followers</p> -->
            </div>
            <div class="follow2">
              <!-- <h2>1</h2>
              <p>Starred</p> -->
            </div>
            <div class="follow3">
              <!-- <h2>0</h2>
              <p>Following</p> -->
            </div>
          </div> <!--follow-->
          <div class="org-area">
            <!-- <h4 class="org">Organizations</h4>
            <a href="#"><img class="js-hacker" src="images/js-hacker.jpeg"></img></a> -->
          </div>
        </div> <!--middle-left-->

        <div class="middle-right">
          <button class="profile">
            <span class="octicon octicon-pencil"></span> Edit Profile
          </button>
          <div class="title-area">
            <div class="title-links1">
              <a href="#"><span class="octicon octicon-diff-added"> Contributions</span></a>
            </div>
            <div class="title-links2">
              <a href="#"><span class="octicon octicon-repo"> Repositories</span></a>
            </div>
            <div class="title-links3">
              <a href="#"><span class="octicon octicon-rss"> Public Activity</span></a>
            </div>
          </div> <!--title-area-->
          <div class="search-area">
            <form><input type="text" class="search-repo" placeholder=" Find a repository..."><input type="submit" class="search-btn" value="Search">
            </form>
            <ul class="search-list">
              <a href="#"><li>All</li></a>
              <a href="#"><li>Public</li></a>
              <a href="#"><li>Private</li></a>
              <a href="#"><li>Sources</li></a>
              <a href="#"><li>Forks</li></a>
              <a href="#"><li>Mirrors</li></a>
            </ul>
            <button class="new">
              <span class="octicon octicon-repo"></span> New
            </button>
          </div> <!--search-area-->
          <div class="repo-area">
            <!-- <div class="repo">
              <div class="repo-left">
                <a href="#"><h3>github-project</h3></a>
                <p>Updated 23 hours ago</p>
              </div>
              <div class="repo-right">
                <p>Javascript</p>
                <a href="#"><span class="octicon octicon-star"></span></a>
                <a href="#"><span class="octicon octicon-git-branch"></span></a>
              </div>
            </div> <!--repo-->
          </div>
        </div> <!--middle-right-->
      </div> <!--middle-->

      <div class="footer">
        <ul class="foot-left">
          <li class="copyright">© 2014 GitHub, Inc.</li>
          <a href="#"><li>Terms</li></a>
          <a href="#"><li>Privacy</li></a>
          <a href="#"><li>Security</li></a>
          <a href="#"><li>Contact</li></a>
          <span class="mega-octicon octicon-mark-github"></span>
        </ul>
        <ul class="foot-right">
          <a href="#"><li class="status">Status</li></a>
          <a href="#"><li>API</li></a>
          <a href="#"><li>Training</li></a>
          <a href="#"><li>Shop</li></a>
          <a href="#"><li>Blog</li></a>
          <a href="#"><li>About</li></a>
        </ul>
      </div>
    </div> <!--full-->



<!--Header===============================-->
<script type="text/template" id="av-me">
  <a href="#"><img class="me-head" src="<%= avatar_url %>"/>
  <p class="user"><%= login %></p></a>
  </a>
</script>

<!--Medium===============================-->
<!--Image (user-box)-->
<script type="text/template" id="user-box">
  <a href="#"><img class="user-img" src="<%= avatar_url %>"/>
  <div class="user-popup">
    <span class="octicon octicon-triangle-up"></span>
    <p>Change your avatar</p>
  </div></a>
  </a>
  <h1><%= name %></h1>
  <p><%= login %></p>
</script>

<!--User Info (user-info)-->
<script type="text/template" id="user-info">
  <div class="span1">
    <span class="octicon octicon-location"></span>
    <p class="loc"><%= location %></p>
  </div>
    <span class="octicon octicon-mail"></span>
    <a href="#"><p class="user-email"><%= email %></p></a>
    <span class="octicon octicon-clock"></span>
    <p class="joined">Joined <%= $.format.prettyDate(created_at, "MMMM","d","yyyy") %></p>
</script>

<!--Follow (follow1-4)-->
<script type="text/template" id="follow1">
      <a href="#"><h2><%= followers %></h2>
      <p>Followers</p></a>
</script>
<script type="text/template" id="follow2">
      <a href="#"><h2><%= stargazers_count %></h2>
      <p>Starred</p></a>
</script>
<script type="text/template" id="follow3">
      <a href="#"><h2><%= following %></h2>
      <p>Following</p></a>
</script>

<!--Organizations-->
<script type="text/template" id="org-area">
<h4 class="org">Organizations</h4>
<a href="#"><img class="js-hacker" src="images/js-hacker.jpeg"></img></a>
</script>

<!--Repo-->
<script type="text/template" id="repo-area">
  <div class="repo">
    <div class="repo-left">
      <a href="#"><h3><%= name %></h3></a>
      <p>Updated <%= $.format.prettyDate(pushed_at) %></p>
    </div>
    <div class="repo-right">
        <p><%= language %></p>
        <a class="forks" href="#"><span class="octicon octicon-git-branch"><%= forks %></span></a>
        <a class="small-star" href="#"><span class="octicon octicon-star"><%= stargazers_count %></span></a>
  </div>
</script>


<!--=====================================-->
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <script src="scripts/token.js"></script>
        <!-- build:js scripts/main.js -->
        <script src="scripts/dateFormat.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
